@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Caesar Dressing', cursive; */
  font-family: 'Mukta', sans-serif;
}